.row img {
    width: 100%;
    height: 67, 11%;
    max-width: 380px;
}

.thumbnail_modalknap {
    border-style: hidden;
    background-color: darkgray;
    color: white;
    margin-top: 5px;
    ;
}

section {
    padding-top: 50px;
}

.modalimg {
    width: 100%;
}

.splash img {
    width: 100vw;
    margin-top: 0px;
}

.heading {
    position: relative;
    margin: 30px auto;
}

.navbar {
    background-color: #e5e5e5;
}

.forretter_container {
    width: 100vw;
}

.fnutter3,
.fnutter3 a {
    color: #101010;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 5rem;
}

.fnutter3 a {
    padding: 0 30px;
}

.rabatpris {
    color: forestgreen;
}

.udsolgttekst {
    color: firebrick;
}

.udsolgt {
    text-decoration: line-through;
}

.rabat {
    text-decoration: line-through;
}

.forret1 {
    height: 420px;
    margin: 0 auto;
}

body {
    background-color: #ffffff;
}

footer {
    background-color: #e5e5e5;
}
